<form class="form-inline">
	<label for="email">Red Thersold:</label>
	<div class="form-group">
		<input type="number" class="form-control" ng-model="vis.params.red.min" placeholder="Minumun Value">
	</div>
	<div class="form-group">
		<input type="number" class="form-control" ng-model="vis.params.red.max" placeholder="Maximum Value">
	</div>
	<label for="email">Green Thersold:</label>
	<div class="form-group">
		<input type="number" class="form-control" ng-model="vis.params.green.min" placeholder="Minumun Value">
	</div>
	<div class="form-group">
		<input type="number" class="form-control" ng-model="vis.params.green.max" placeholder="Maximum Value">
	</div>
</form>